@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Quanlybug.Models.Register
<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            @using (Html.BeginForm("Register", "Home", FormMethod.Post))
            {
               
            <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <a href="index.html" class="">
                        <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Nông Dân IT</h3>
                        <h4 class="text-primary" style="font-size:small;color:red">@ViewBag.error</h4>
                    </a>
                    <h3>Sign Up</h3>
                </div>
               
                <div class="form-floating mb-3">
                    @Html.TextBoxFor(x=>x.NameUser,new {@class="form-control", @id="floatingtext",placeholder="Họ và tên"})
                    <label for="floatingText">Họ và tên</label>
                </div>
                <div class="form-floating mb-3">
                        @Html.TextBoxFor(x=>x.Account,new {@class="form-control", @id="floatingtext",placeholder="Tài khoản"})
                    <label for="floatingInput">Tài khoản</label>
                </div>
                <div class="form-floating mb-4">
                        @Html.PasswordFor(x=>x.Password,new {@class="form-control", @id="floatingtext",placeholder="Tài khoản"})
                    <label for="floatingPassword">Password</label>
                </div>
                   <div class="form-floating mb-4">
                   <select class="form-control" id="job" name="job" >
                       <option value="2">Tester bủ</option>
                        <option value="1">Dev lỏ </option>
                   </select>
                        <label for="floatingPassword">Lựa chọn ngành nghề</label>
                  </div>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <a href="">Forgot Password</a>
                </div>
                <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Sign Up</button>
                <p class="text-center mb-0">Already have an Account? <a href="">Sign In</a></p>
            </div>
            }
        </div>
    </div>
</div>